{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-offset-1">
      <a class="btn btn-link btn-lg" href="/add" style="width:150pt;" type="submit" role="button"><i class="glyphicon glyphicon-plus">Add</i></a>
      <div class="target">
        <table class="table table-hover">
          <tr>
            <thead>
              <td><b>Name</b></td>
              <td><b>Axis</b></td>
              <td></td>
            </thead>
            {% for target in targets %}
            {% include 'targ.html' %}
            {% endfor %}
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- SEND BUTTON -->
<div class="container-fluid text-center" style="margin: 15pt">

</div>
<!-- OUTPUT -->
<div class="container-fluid">
  <div class="col-sm-12 col-xs-12">
    <textarea class="form-control" name="result" id="result" rows="10"> {% if result %} {{ result }} {% endif %}
    </textarea>
  </div><!--col-sm-12 col-xs-12-->
</div><!--container-fluid-->

{% endblock %}
