{% extends 'base.html' %}
{% block content %}

{% include 'modalInputForm.html' %}

<div class="col-xs-offset-2" style="margin-bottom:10pt;">
  <div id="add_search">
      <form action="/search_results" class="form-search span12">
        <a class="glyphicon glyphicon-plus" style="border:none; text-decoration: none; font-size: 18px; color:#535254; width:150px;" href="/add" role="button" id="add_new_target">Add</a>

        <input type="text" class="input-sm search-query " name="q" value="{% if q %}{{ q }}{% endif %}" autofocus>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
  </div>
</div>

<div>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="alert alert-success">
    <span class="closebtn">&times;</span>
    <strong>Success!</strong>
    {% for message in messages %}
    {{ message }}
    {% endfor %}
  </div>
  {% endif %}
  {% endwith %}
</div>

<div id="index_target">
  <!--<div class="container-fluid">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-1">
        <div class="target">-->
        <div class="col-xs-8 col-xs-offset-1">
          <table class="table table-hover" >
            <tr>
              <thead>
                <td><b>Name</b></td>
                <td><b>Axis</b></td>
                <td></td>
              </thead>
              <div>
                {% for target in targets %}
                {% include 'targ.html' %}
                {% endfor %}
              </div>
            </tr>
          </table>
        </div>

        <!-- OUTPUT -->
        <!--<div class="container-fluid" id="returned_result">
          <textarea class="form-control" name="result" id="result" rows="5" method="post">{% if result %}{{ result }}{% endif %}</textarea>
        </div>-->

      <!--</div>
    </div>
  </div>
</div>-->
</div>
<!-- SEND BUTTON -->
<!--<div class="container-fluid text-center" style="margin: 15pt">
mouse x: <input type="text" id="mouseX"/><br />
mouse y: <input type="text" id="mouseY"/><br />
</div>-->

{% endblock %}
