{% extends 'base.html' %}

{% block content %}

{% if error %}
<div class="alert alert-warning">
  <span class="closebtn">&times;</span>
  <strong>Error!</strong> {{ error }}
</div>
{% endif %}


<form method="POST" action="{{ action }}" class="form-horizontal">

  <div class="form-group">
    <label class="control-label col-sm-1" for="tgt_name">{{ form.tgt_name.label }}</label>
    <div class="col-sm-3">{{ form.tgt_name(class_="input form-control", placeholder="Enter target name") }}</div>

    {% for message in form.tgt_name.errors %}
    <div class="controls"><p><font color="red">{{ message }}</font></p></div>
    {% endfor %}
  </div>

  <div class="form-group">
    <label class="control-label col-sm-1" for="value_x">{{ form.value_x.label }}</label>
    <div class="col-sm-3">{{ form.value_x(class_="input form-control", placeholder="Axis X") }}</div>

    {% for message in form.value_x.errors %}
    <div class="controls"><p><font color="red">{{ message }}</font></p></div>
    {% endfor %}
  </div>

  <div class="form-group">
    <label class="control-label col-sm-1" for="value_y">{{ form.value_y.label }}</label>
    <div class="col-sm-3"> {{ form.value_y(class_="input form-control", placeholder="Axis Y") }}</div>

    {% for message in form.value_y.errors %}
    <div><p><font color="red">{{ message }}</font></p></div>
    {% endfor %}
  </div>

  <div class="form-group">
    <label class="control-label col-sm-1" for="value_z">{{ form.value_z.label }}</label>
    <div class="col-sm-3"> {{ form.value_z(class_="input form-control", placeholder="Axis Z") }}</div>

    {% for message in form.value_z.errors %}
    <div><p><font color="red">{{ message }}</font></p></div>
    {% endfor %}
  </div>

  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">{% if submit_text %}{{ submit_text }}{% else %} Add {% endif %}</button>
    </div>
  </div>
</form>

{% endblock %}
