<tbody onclick="window.document.location='/targets/{{ target.tgt_id }}';">
  <div id="targetRow">
      <td>
        {{ target.tgt_name }} =
      </td>
      <td>
        ( {% if target.value_x %}X{{ target.value_x }}{% if target.value_y or target.value_z %}; {% else %}){% endif %}{% endif %}
          {% if target.value_y %}Y{{ target.value_y }}{% if target.value_z %}; {% else %}){% endif %}{% endif %}
          {% if target.value_z %}Z{{ target.value_z }}){% endif %}
      </td>
      <td>
        <span><a href="/targets/{{ target.tgt_id }}/run" style="text-decoration:none;" id="run1" role="button">RUN</a></span> |
        <span><a href="/targets/{{ target.tgt_id }}/edit" style="text-decoration:none;" role="button">EDIT</a></span> |
        <span><a href="/targets/{{ target.tgt_id }}/delete" style="text-decoration:none;" role="button" onclick="return confirm('Are you sure you want to delete target {{ target.tgt_name }}?');" name="delButton">DELETE</a></span> 
      </td>
    <!--<td>
      <h1>with </h1>
    </td>-->
  </div>
</tbody>
