<tbody>
    <div id="targetRow">
        <td>
            {{ target.tgt_name }} =
        </td>
        <td>
            [ X={{ target.value_x }}, Y={{ target.value_y }}, Z={{ target.value_z }} ]
        </td>
        <td>
            <a href="/run/{{ target.tgt_id }}" class="btn btn-success btn-xs" id="run">RUN</a>
            <a href="/edit/{{ target.tgt_id }}" class="btn btn-warning btn-xs">EDIT</a>
            <a href="/delete/{{ target.tgt_id }}" class="btn btn-danger btn-xs" onclick="dell()" name="delButton">DELETE</a>
        </td>
        <td>
          <h1>with </h1>
        </td>
    </div>
</tbody>
